!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="nav.component.css">

</head>
<body>
    <header class="cabecalho">
        <h1>ProRads</h1>

    </header>
    <main class="principal">
        <div class="conteudo">
            <nav class="modulos">
                <div class="modulo verde">
                    <h3>Novos</h3>
                    <ul>
                        <li><span>Exercicio A</span><button type="button" class="btn btn-success btn-hover-success">
                            <i class="nc-print"></i>
                            <span class="btn-text-bottom">Nova Consulta</span>
                          </button></li>
                        <li><span>Exercicio B</span><button type="button" class="btn btn-success btn-hover-success">
                            <i class="nc-print"></i>
                            <span class="btn-text-bottom">Nova Consulta</span>
                          </button></li>
                        <li><span>Exercicio C</span><button type="button" class="btn btn-success btn-hover-success">
                            <i class="nc-print"></i>
                            <span class="btn-text-bottom">Nova Consulta</span>
                          </button></li>
                    </ul>
                    <button type="button" class="btn btn-success btn-hover-success">
                        
                        <span class="btn-text-bottom">Novo Paciente</span>
                      </button>
                    <h3>Atendidos</h3>
                    <ul>
                        <li><span>Exercicio A</span><button type="button" class="btn btn-success btn-hover-success">
                            <i class="nc-print"></i>
                            <span class="btn-text-bottom">Nova Consulta</span>
                          </button></li>
                        <li><span>Exercicio B</span><button type="button" class="btn btn-success btn-hover-success">
                            <i class="nc-print"></i>
                            <span class="btn-text-bottom">Nova Consulta</span>
                          </button></li>
                        <li><span>Exercicio C</span><button type="button" class="btn btn-success btn-hover-success">
                            <i class="nc-print"></i>
                            <span class="btn-text-bottom">Nova Consulta</span>
                          </button></li>
                    </ul>
                </div>
                <div class="modulo vermelho">
                    <h3>Paciente Nome Paciente</h3>
                    <ul>
                       
                    </ul>
                </div>            
              
            </nav>
        </div>
    </main>
   
</body>
</html>